* {
    font-family: 'Monstserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container-content {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
}

input {
    background-color: #eee;
    padding: 5px;
    border: none;
}

#enviar {
    width: 100%;
    cursor: pointer;
}

#enviar:hover {
    background-color: springgreen;
}